- // This page defines the common layout of whole website
doctype html
html.h-100(lang=config.language)
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="https://cdn.bootcss.com/normalize/8.0.0/normalize.min.css")
        link(rel="stylesheet", href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css")
        link(rel="stylesheet", href=url_for('css/main.css'))
        script(src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js")
        script(src="https://cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.min.js")
        title #{config.title}
    body.h-100
        - // the div below is navigation bar
        .col-md-10.col-12.offset-md-1.flex.h-100
            div.container-fluid.f-0
                h1.site-title.mt-2
                    |
                    span.text-lg W
                    | ELCOME
                ul.nav.d-flex.justify-content-between.w-md-60.w-xl-40
                    each dir,index in theme.menu
                        li.nav-item
                            - // when each button is clicked, load the content into the content box
                            a.nav-link(href=dir): span.var-md-fs=index

            - // the section below is the webpage content
            section.container-fluid.mb-4.f-auto.pos-relative#content

        script.
            $(document).ready(function(){
                var $content = $("#content"),
                    $navlink = $(".nav-link"),
                    $activeLink = undefined,
                    $nav = $('.nav');
                

                $navlink.eq(0).addClass('active');
                $activeLink = $('.active');
                //console.log($nav.css("left"));

                function toggleNavClass(name, activeElement) {
                    $navlink.removeClass(name);
                    activeElement.addClass(name);
                }

                $navlink.each(function(i, o) {
                    //console.log(this);
                    var $this = $(this),
                        path = $this.attr('href'),
                        toggleClassName = 'active';

                    console.log(location.origin);

                    $this.hover(function(e) {
                        toggleNavClass(toggleClassName, $this);

                    });

                    $this.mouseleave(function(e) {
                        toggleNavClass(toggleClassName, $activeLink);

                    })

                    $this.click(function(e) {
                        e.preventDefault();

                        toggleNavClass(toggleClassName, $this);
                        $activeLink = $this;

                        $content.html("");
                        $content.load(location.origin + path);
                    })
                });
            });
            
